---
import Icon from "../Icon/Icon.astro";
import Theme from "./Theme.astro";
import TextGradient from "../TextGradient/TextGradient.astro";
---

<header
    class="sticky top-0 z-50 bg-white shadow-lg shadow-indigo-500/50 transition-colors duration-500 dark:bg-black dark:text-white"
>
    <nav
        class="mx-auto flex max-w-7xl items-center justify-between p-4 lg:px-8"
        aria-label="Global"
    >
        <div class="flex lg:flex-1">
            <a href="/" class="-m-1.5 flex items-center p-1.5 text-2xl">
                <Icon icon="logo" class="h-8 w-auto" />
                <TextGradient text="Universe" />
            </a>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            <a href="/" class="text-sm font-semibold leading-6">首页</a>
            <a href="/best-practices" class="text-sm font-semibold leading-6"
                >最佳实践</a
            >
            <a href="/blog" class="text-sm font-semibold leading-6">博客</a>
        </div>
        <div class="lg:flex lg:flex-1 lg:justify-end flex">
            <!-- <a href="#" class="text-sm font-semibold leading-6"
                >Log in <span aria-hidden="true">&rarr;</span></a
            > -->
            <a href="https://github.com/vast-universe">
                <Icon icon="github" class="mr-2 h-7" />
            </a>
            <Theme />
        </div>
    </nav>
</header>
